/* ===================================
 *
 * Variables
 *
 * ================================= */


 /* Fonts
 * ================================= */

 $ggFontFamilyPrimary: "Helvetica Neue",Arial,Helvetica,Verdana,sans-serif ;
 $ggFontFamilyMono: Consolas,"Lucida Console",Courier,monospace;


 /* Colours
 * ================================= */

$ggPrimaryColour: #db3a1b;
$ggPrimaryColourDarker: darken($ggPrimaryColour, 3%);
$ggPrimaryColourDarkest: darken($ggPrimaryColour, 5%);
$ggColourSuccess: #c5e5de;
$ggColourWarning: #ffe8aa;
$ggColourError: #f5b7ab;
$ggColourInfo: #b1e0ec;


$blank: #fff;
