@charset "UTF-8";
/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/
/**
 *
 * sass --watch style.scss:style.min.css --style compressed
 *
 * Here we pull in some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */


/**
 * Setup
 */
// @import "vars";
// @import "inuit.css/inuit";

@import "goodgym/nav";
@import "goodgym/type";


/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */
//@import "ui/example";


body {
  color: #777777;
  font-family: "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
}

.pure-g [class*="pure-u"], .pure-g-r [class*="pure-u"] {
  font-family: "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
}

/* Add transition to containers so they can push in and out */

#layout, #menu, .pure-menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}


/* --------------------------
 * Layout Styles
 * -------------------------- */

#layout {
  padding-left: 200px;
  /* left col width "#menu" */
  left: 0;
}

/* Apply the .box class on the immediate parent of any grid element (pure-u-*) to apply some padding. */

.l-box {
  padding: 1.3em;
}

.l-vbox {
  padding: 1.3em 0;
}

.l-hbox {
  padding: 0 1.3em;
}

.l-centered {
  text-align: center;
}

/* --------------------------
 * Header Module Styles
 * -------------------------- */

.header {
  min-height: 80px;
  margin: 0;
  color: #333333;
  padding: 1em 2em;
  text-align: center;
  border-bottom: 1px solid #eeeeee;
  background: white;
  h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
  }
  h2 {
    font-weight: 300;
    margin: 0;
    color: #cccccc;
  }
}

aside {
  background: #1f8dd6;
  /* same color as selected state on site menu */
  padding: 0.3em 1em;
  border-radius: 3px;
  color: white;
  a {
    color: rgb(169, 226, 255);
    &:visited {
      color: rgb(169, 226, 255);
    }
  }
}

/* --------------------------
 * Content Module Styles
 * -------------------------- */

/* The content div is placed as a wrapper around all the docs */

.content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  margin-bottom: 50px;
  p {
    line-height: 1.6em;
    font-size: 1.125em;
  }
  .content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888888;
    position: relative;
  }
  .content-spaced {
    line-height: 1.8em;
  }
  .content-quote {
    font-family: "Georgia", serif;
    color: #666666;
    font-style: italic;
    line-height: 1.8em;
    border-left: 5px solid #dddddd;
    padding-left: 1.5em;
  }
}

/* --------------------------
 * Footer Module Styles
 * -------------------------- */

.legal {
  font-size: 87.5%;
  border-top: 1px solid #eeeeee;
  padding: 0.5em 1.1429em;
  background: rgb(250, 250, 250);
  line-height: 1.6em;
}

.legal-license {
  margin: 0;
}

.legal-copyright {
  text-align: right;
  margin: 0;
}

.legal-links {
  text-align: right;
  margin: 0;
  list-style: none;
  padding: 0;
}

.legal-logo {
  text-align: center;
}


/* --------------------------
 * Masthead
 * -------------------------- */

.masthead {
  background: transparent url("/images/bg_goodgym2.jpeg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  height: 450px;
  width: 100%;
  margin-bottom: 3em;
    h1 {
    color: white;
    font-size: 400%;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    font-weight: normal;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: 200;
  }
}

.gradient-overlay {
  background-image: -webkit-gradient(linear, to left, to right, color-stop(0%, hsla(0, 64%, 38%, 0.4)), color-stop(100%, rgba(255, 38, 2, 0.55)));
  background-image: -webkit-linear-gradient(to left, hsla(0, 64%, 38%, 0.4), rgba(255, 38, 2, 0.55));
  background-image: -moz-linear-gradient(to left, hsla(0, 64%, 38%, 0.4), rgba(255, 38, 2, 0.55));
  background-image: -o-linear-gradient(to left, hsla(0, 64%, 38%, 0.4), rgba(255, 38, 2, 0.55));
  background-image: linear-gradient(to left, hsla(0, 64%, 38%, 0.4), rgba(255, 38, 2, 0.55));
  background-image: -ms-linear-gradient(to left, hsla(0, 64%, 38%, 0.4), rgba(255, 38, 2, 0.55));
  background: -webkit-linear-gradient(left, hsla(0, 64%, 38%, 0.4), rgba(255, 38, 2, 0.55));
  -webkit-font-smoothing: antialiased;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
}


/* ---------------------
 * Smaller Module Styles
 * --------------------- */

/* example code blocks */

.example-snippet {
  margin: 2em 0;
  font-size: 85%;
}

/* green call to action button class */

.notice {
  background-color: #61b842;
  color: white;
}

.pure-button {
  font-family: inherit;
}

a.pure-button-primary {
  color: white;
}

.muted {
  color: #cccccc;
}

/* --------------------------
 * Responsive Styles
 * -------------------------- */

@media (max-width: 870px) {
  /* Navigation Push Styles */
  #layout {
    position: relative;
    padding-left: 0;
    &.active {
      position: relative;
      left: 200px;
      #menu {
        left: 200px;
        width: 200px;
      }
    }
  }
  #menu {
    left: 0;
  }
  .pure-menu-link {
    position: fixed;
    left: 0;
    display: block;
  }
  #layout.active .pure-menu-link {
    left: 200px;
  }
}

@media (max-width: 767px) {
  .header, .content {
    font-size: 87.5%;
  }
  .header, .content, .legal {
    padding-left: 1.1429em;
    padding-right: 1.1429em;
  }
  .legal-license, .legal-copyright {
    text-align: center;
  }
  .legal-links {
    text-align: center;
    li {
      text-align: center;
    }
  }
  /* normalize paddings on small screens */
  .l-hbox {
    padding: 1.3em;
  }
}
