@charset "UTF-8";
/* --------------------------
 * GoodGym Styles
 *
 * @extends PureCSS http://purecss.io
 * -------------------------- */

/**
 * Bring in our Pure.css Library
 */

@import "pure-min.css";

/**
 * And now we extend with our partials
 */
@import "goodgym/vars";
@import "goodgym/nav";
@import "goodgym/type";
@import "goodgym/footer";
@import "goodgym/responsive";


body {
  color: #777777;
  font-family: $ggDefaultFontStack;
}

.pure-g [class*="pure-u"], .pure-g-r [class*="pure-u"] {
  font-family: $ggDefaultFontStack;
}

/* Add transition to containers so they can push in and out */

#layout, #menu, .pure-menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}


/* --------------------------
 * Layout Styles
 * -------------------------- */

#layout {
  padding-left: $navColWidth;
  /* left col width "#menu" */
  left: 0;
}



/* --------------------------
 * Header Module Styles
 * -------------------------- */

.header {
  min-height: 80px;
  margin: 0;
  color: #333333;
  padding: 1em 2em;
  text-align: center;
  border-bottom: 1px solid #eeeeee;
  background: white;
  h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
  }
  h2 {
    font-weight: 300;
    margin: 0;
    color: #cccccc;
  }
}

aside {
  background: #1f8dd6;
  /* same color as selected state on site menu */
  padding: 0.3em 1em;
  border-radius: 3px;
  color: white;
  a {
    color: rgb(169, 226, 255);
    &:visited {
      color: rgb(169, 226, 255);
    }
  }
}





/* --------------------------
 * Masthead
 * -------------------------- */

.masthead {
  background: transparent url("/images/bg_goodgym2.jpeg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  height: 450px;
  width: 100%;
  margin-bottom: 3em;
    h1 {
    color: white;
    font-size: 400%;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    font-weight: normal;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: 200;
  }
}

.gradient-overlay {
  background-image: -webkit-gradient(linear, to left, to right, color-stop(0%, hsla(0, 64%, 38%, 0.4)), color-stop(100%, rgba(255, 38, 2, 0.55)));
  background-image: -webkit-linear-gradient(to left, hsla(0, 64%, 38%, 0.4), rgba(255, 38, 2, 0.55));
  background-image: -moz-linear-gradient(to left, hsla(0, 64%, 38%, 0.4), rgba(255, 38, 2, 0.55));
  background-image: -o-linear-gradient(to left, hsla(0, 64%, 38%, 0.4), rgba(255, 38, 2, 0.55));
  background-image: linear-gradient(to left, hsla(0, 64%, 38%, 0.4), rgba(255, 38, 2, 0.55));
  background-image: -ms-linear-gradient(to left, hsla(0, 64%, 38%, 0.4), rgba(255, 38, 2, 0.55));
  background: -webkit-linear-gradient(left, hsla(0, 64%, 38%, 0.4), rgba(255, 38, 2, 0.55));
  -webkit-font-smoothing: antialiased;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
}


/* ---------------------
 * Smaller Module Styles
 * --------------------- */

/* example code blocks */

.example-snippet {
  margin: 2em 0;
  font-size: 85%;
}

/* green call to action button class */

.notice {
  background-color: #61b842;
  color: white;
}

.pure-button {
  font-family: inherit;
}

a.pure-button-primary {
  color: white;
}

.muted {
  color: #cccccc;
}
