/* ===================================
 *
 * Buttons
 * 
 * ================================= */

._button_base, button, .button-large, .button-small, .button {
    padding: 0 18px;
    cursor: pointer;
    overflow: hidden;
    font-weight: 700;
    font-family: "Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    letter-spacing: .01em;
    margin-right: 18px;
    border: 0 none;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #737373;
    background-color: #e0e0e0;
}

._button_base:hover, button:hover, .button-large:hover, .button-small:hover, .button:hover {
    color: #737373;
    background-color: #d3d3d3;
}

._button_base:visited, button:visited, .button-large:visited, .button-small:visited, .button:visited {
    color: #737373;
}

._button_base {
    &:active, &.active {
        color: #616161;
        background-color: #c7c7c7;
    }
}

button {
    &:active, &.active {
        color: #616161;
        background-color: #c7c7c7;
    }
}

.button-large {
    &:active, &.active {
        color: #616161;
        background-color: #c7c7c7;
    }
}

.button-small {
    &:active, &.active {
        color: #616161;
        background-color: #c7c7c7;
    }
}

.button {
    &:active, &.active {
        color: #616161;
        background-color: #c7c7c7;
    }
}

._button_disabled {
    cursor: not-allowed;
    opacity: .5;
}

._button_base {
    &.disabled, &[disabled] {
        cursor: not-allowed;
        opacity: .5;
    }
}

button {
    &.disabled, &[disabled] {
        cursor: not-allowed;
        opacity: .5;
    }
}

.button-large {
    &.disabled, &[disabled] {
        cursor: not-allowed;
        opacity: .5;
    }
}

.button-small {
    &.disabled, &[disabled] {
        cursor: not-allowed;
        opacity: .5;
    }
}

.button {
    &.disabled, &[disabled] {
        cursor: not-allowed;
        opacity: .5;
    }
}

._button, button, .button-large {
    font-size: 15px;
    height: 48px;
    line-height: 49px;
}

._button_small, .button-small, .button {
    font-size: 13px;
    height: 36px;
    line-height: 36px;
}

._button_success, button.success, .button-large.success, .button-small.success, .button.success {
    background-color: #95d1c4;
    color: #fff;
}

._button_ggicon, button .ggicon, .button-large .ggicon, .button-small .ggicon, .button .ggicon {
    font-size: inherit;
    margin-right: 6px;
    font-size: 20px;
}

._button_ggicon.no-text, button .ggicon.no-text, .button-large .ggicon.no-text, .button-small .ggicon.no-text, .button .ggicon.no-text {
    margin-right: 0;
}

._button_ggicon.on-right, button .ggicon.on-right, .button-large .ggicon.on-right, .button-small .ggicon.on-right, .button .ggicon.on-right {
    margin-left: 6px;
    margin-right: 0;
}

._button_loading, .button-loading {
    background-size: 30px;
    background-position: 15px center;
    background-repeat: no-repeat;
    padding-left: 55px;
}

.p0 {
    color: #fff;
    background-color: #db3a1b;
    &:hover {
        color: #fff;
        background-color: #cc351a;
    }
    &:visited {
        color: #fff;
    }
    &:active, &.active {
        color: #ededed;
        background-color: #bc290f;
    }
    &.button-loading {
        background-image: url(/images/buttons/loading-gif-button-white.png);
    }
}

.p1, .p2, .p3 {
    color: #737373;
    background-color: #e0e0e0;
    border: none;
}

.p1:hover, .p2:hover, .p3:hover {
    background-color: #d3d3d3;
}

.p1:active, .p2:active, .p3:active, .p1.active, .p2.active, .p3.active {
    color: #616161;
    background-color: #c7c7c7;
}

.button-loading {
    background-image: url(/images/buttons/loading-gif-button-dark.png);
}

button, .button-large, .button-small, .button {
    display: inline-block;
}

.button-group {
    position: relative;
    display: inline-block;
    font-size: inherit;
    white-space: nowrap;
    vertical-align: middle;
    + .button-group {
        margin-left: 30px;
    }
    .button, .button-small {
        position: relative;
        background: #fff;
        border: 1px solid #6dc6dd;
        border-radius: 0;
        color: #787975;
        margin-right: 0;
    }
    .button:first-child, .button-small:first-child {
        border-radius: 3px 0 0 3px;
    }
    .button:last-child, .button-small:last-child {
        margin-right: 0;
        border-radius: 0 3px 3px 0;
    }
    .button.selected, .button-small.selected {
        background: #b3e2ed;
        color: #3f3f38;
        outline: 0;
    }
    .button:hover, .button-small:hover, .button:focus, .button-small:focus, .button:active, .button-small:active, .button.active, .button-small.active {
        background: #ecf8fa;
        color: #3f3f38;
    }
    &.regular {
        .button, .button-small {
            color: #737373;
            background-color: #e0e0e0;
            border: 0 none;
        }
        .button:hover, .button-small:hover, .button:focus, .button-small:focus {
            color: #737373;
            background-color: #d3d3d3;
        }
        .button:visited, .button-small:visited {
            color: #737373;
        }
        .button:active, .button-small:active, .button.active, .button-small.active {
            color: #616161;
            background-color: #c7c7c7;
        }
    }
    &.dark {
        .button, .button-small {
            color: #fff;
            background-color: #737373;
            border: 0 none;
        }
        .button:hover, .button-small:hover {
            color: #fff;
            background-color: #616161;
        }
        .button:visited, .button-small:visited {
            color: #fff;
            background-color: #737373;
        }
        .button:active, .button-small:active, .button.active, .button-small.active {
            color: #ededed;
            background-color: #5a5a5a;
        }
    }
    .button + .button, .button-small + .button-small {
        margin-left: -3px;
    }
    .hover-list {
        display: inline-block;
        &:first-child .button-small {
            border-radius: 3px 0 0 3px;
        }
        &:last-child .button-small {
            border-radius: 0 3px 3px 0;
        }
    }
}

@media only screen and (max-width: 60em) {
    .button-group .hover-list:first-child .button-small {
        border-radius: 3px;
    }
}

@media only screen and (max-width: 60em) {
    .button-group .hover-list:last-child .button-small {
        border-radius: 3px;
    }
}

@media only screen and (max-width: 60em) {
    .button-group .hover-list {
        display: block;
        margin-top: 12px;
    }
}

ul.button-nav {
    display: table;
    li {
        display: table-cell;
        float: none;
    }
    a.button-small {
        background: #fff;
        border: 1px solid #6dc6dd;
        border-left-width: 0;
        color: #787975;
        border-radius: 0;
        width: 100%;
        position: relative;
        margin-right: 0;
        line-height: 34px;
        &:hover {
            background: #ecf8fa;
            color: #3f3f38;
        }
        &.active {
            background: #b3e2ed;
            color: #3f3f38;
        }
    }
    li {
        &:first-child a.button-small {
            border-radius: 4px 0 0 4px;
            border-left-width: 1px;
        }
        &:last-child a.button-small {
            border-radius: 0 4px 4px 0;
        }
    }
    &.fill-width {
        width: 100%;
        a.button-small {
            padding-left: 3px;
            padding-right: 3px;
        }
    }
}