/* ===================================
 *
 * Typography
 * 
 * ================================= */

h1,h2,h3,h4,h5,h6,dd,dl,blockquote,p,figure,address,hr{margin-bottom:.375em}
em{font-style:italic}
a,a:visited{color:#db3a1b;text-decoration:none}
a .nolink,a:visited .nolink{color:#595959}
a:hover{color:#cc351a}
img{vertical-align:middle;max-width:100%;max-height:auto}
h1,.h1,h2,.h2,h3,.h3,h4,.h4{font-weight:bold;color:#595959;font-family:"Helvetica Neue",Arial,Helvetica,Verdana,sans-serif}h1 a,.h1 a,h2 a,.h2 a,h3 a,.h3 a,h4 a,.h4 a,h1 a:visited,.h1 a:visited,h2 a:visited,.h2 a:visited,h3 a:visited,.h3 a:visited,h4 a:visited,.h4 a:visited{color:#db3a1b}
h1 a:hover,.h1 a:hover,h2 a:hover,.h2 a:hover,h3 a:hover,.h3 a:hover,h4 a:hover,.h4 a:hover{color:#db3a1b}
h1,.h1{font-size:2.5em;line-height:1.2em;margin-bottom:.15em}
h2,.h2{font-size:1.625em;line-height:1.1538461538461537em;margin-bottom:.9230769230769231em}
h3,.h3{font-size:1.625em;line-height:1.1538461538461537em;margin-bottom:.9230769230769231em}
h4,.h4{font-size:1.125em;line-height:1.6666666666666667em;margin-bottom:.3333333333333333em}
p,.p{max-width:550px;font-size:.9375em;line-height:1.6em;margin-bottom:.8em}
p>a,.button~a:not(.button),.link-underline a:not(.button){line-height:normal;border-bottom:1px dotted #db3a1b}
h3+table{margin-top:18px}
h3+.h4{margin-top:-18px}
p+table{margin-top:30px}
li>a{display:block;line-height:inherit;height:inherit}
ol{margin-left:1.5em}
ul,ol{font-size:15px}
code{font-size:14px;line-height:1.2857142857142858em;font-family:Consolas,"Lucida Console",Courier,monospace;word-spacing:normal;word-wrap:break-word;font-weight:700;border-radius:3px}code .tag{color:#6dc5dc}
code .attr{color:#ee836e}
code .num{opacity:.6;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
code.classname {color:#a11;font-weight:normal}
code {max-width:inherit !important}
pre{display:block;font-size:.875em;line-height:1.2857142857142858em;font-family:Consolas,"Lucida Console",Courier,monospace;white-space:pre-wrap;padding:12px 15px;max-width:550px}
abbr,.smallcaps{border-bottom:none;font-variant:small-caps;text-transform:lowercase}
abbr{font-weight:bold;font-variant:normal;text-transform:uppercase}
hr{border:0 none;height:1px;background-color:#f2f2f2;margin:6px auto}
blockquote:before,blockquote:after,q:before,q:after{content:""}
blockquote,q{quotes:"" ""}
.vbar{padding-left:.8125em;margin-left:.75em;position:relative}.vbar:before{content:"|";color:transparent;position:absolute;top:0;left:0;border-left:1px solid #c9c9c9}
.simple-list{font-size:.9375em;line-height:1.6em}
.small-meta{font-size:13px;line-height:inherit}
.normal-meta{font-size:15px;line-height:inherit}.normal-meta.valign-input{margin-top:6px;display:inline-block}
.ellipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.fwn{font-weight:normal !important}
.fwl{font-weight:300}
.fwb{font-weight:700}
.fsi{font-style:italic}
.capitalize{text-transform:capitalize}
.error-text{color:#ee836e}
.dim2{opacity:.2}
.dim3{opacity:.3}
.dim6{opacity:.6}