<div class="size2of3 unit nopadding">
    <h3>Active Areas</h3>
</div>
<div class="size1of3 lastUnit">
    <input type="search" placeholder="Search Areas" ng-model="query" ng-hide="noDataPane.activeAreas">
</div>

<div ng-show="activeAreas">
    <ul class="media-list rows">
        <li ng-repeat="area in activeAreas | filter: query | orderBy: '!signed_up'">
            <div class="media">
                <div class="media-image">
                    <div class="grayscale thumbnail below12">
                        <a href="/areas/{{area.id}}" title="View Details of {{area.location}}">
                            <!--  <img ng-src="{{area.photos[0].photo.thumbnail}}" alt="{{area.location}}" class=""> -->
                            <img src="http://placehold.it/500x500" alt="">
                        </a>
                    </div>
                </div>
                <div class="media-body">
                    <div class="line">
                        <div class="unit size3of4 below12">
                            <h4><a href="/areas/{{area.id}}">{{area.location}}</a>
                            </h4>
                            <p class="below12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deseareat, est, dicta, aliquam nostrum vel velit ut reiciendis odit dolorum vero molestiae voluptatum sint unde tempora dignissimos pariatur vitae tenetur mollitia.
                            </p>
                            <p class="small-meta">
                                Joined:
                                <span ng-bind-html="area.signed_up | iconify"></span>
                            </p>
                        </div>
                        <div class="size1of4 lastUnit nopadding alignr">
                            <a class="button nomargin full-width-mobile relative" href="" register-area button-loading="button-loading" data-area-id="{{area.id}}">Join Area</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<no-data title="There are currently no areas defined" desc="This seems a little odd, we'll look into it!" icon="thumbs-down" ng-show="noDataPane.activeAreas"></no-data>
