<!-- Header -->
<div class="lastUnit size1of1 header">
    <h1 class="inline-block">{{ title }}</h1>
    <a href="" class="add-btn button p0" ng-click="toggleCreate = !toggleCreate">
        <span class="ggicon icon-add-to-list"></span>Create a Run</a>
</div>
<!-- /Header -->
<div class="lastUnit size1of1 main-section" ng-show="toggleCreate">
    <div class="line">
        <div class="size1of2 unit">
            <div class="field-wrapper">
                <label>Run Title</label>
                <input type="text" name="runTitle" id="runTitle">
                <div class="field-help">A helpful bit of text.</div>
            </div>
            <div class="field-wrapper">
                <label>Meeting Point</label>
                <input type="text" name="fname" id="fname">
                <div class="field-help">A helpful bit of text.</div>
            </div>

        </div>
        <div class="size1of2 lastUnit">
            <div class="field-wrapper">
                <label>Run Date</label>
                <input type="datetime-local" name="runDate" id="runDate">
            </div>
            <div class="field-wrapper">
                <label>Area</label>
                <select>
                    <option value="">Select an option</option>
                    <option value="1">Hackney</option>
                    <option value="2">Camden</option>
                    <option value="3">Lewisham</option>
                </select>
            </div>
        </div>
    </div>
    <div class="line">
        <div class="size1of1 lastUnit">
            <a href="" class="button">Submit Form</a>
        </div>
    </div>
</div>

<div class="lastUnit size1of1 main-section" ng-show="runs">
    <div class="size2of3 unit nopadding">
        <h3>Upcoming Runs</h3>
    </div>
    <div class="size1of3 lastUnit">
        <input type="search" placeholder="Search Runs" ng-model="query">
    </div>

    <div class="slats">
        <ul class="rows">
            <li class="relative selfclear" ng-repeat="run in runs | filter: query">

                <div class="line">
                    <div class="size1of1 unit meta">
                        <div class="unit size1of4 nopadding">
                            <div class="grayscale below12">
                                <a href="/runs/{{run.id}}" title="View Details of {{run.name}}">
                                    <!--                             <img ng-src="{{run.photos[0].photo.thumbnail}}" alt="{{run.name}}" class="">
 -->
                                    <img src="http://placehold.it/500x500" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="size3of4 unit">
                            <div class="size1of2 unit nopadding below12">
                                <h4><a href="/runs/{{run.id}}">{{run.name}}</a>
                                </h4>
                                <p class="dim-el below12">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <p class="dim-el below12">
                                    Attending:
                                    <span ng-bind-html="run.signed_up | iconify"></span>
                                </p>
                            </div>
                            <div class="size1of4 unit nopadding stats-container hide-phone">
                                <div class="data inline-block float-left below12">
                                    <h4>{{ run.registrations.length }}</h4>
                                    <p class="dim-el" ng-pluralize count="run.registrations.length" when="{'1': 'Attendee', 'other': 'Attendees'}"></p>
                                </div>
<!--                                 <div class="data inline-block float-left below12">
                                    <h4>0.0%</h4>
                                    <p class="dim-el">Another</p>
                                </div> -->
                            </div>
                            <div class="size1of4 unit nopadding stats-container show-phone">
                                <ul class="dotted-list nomargin">
                                    <li>
                                        <span ng-pluralize count="run.registrations.length" when="{'1': 'Attendee', 'other': 'Attendees'}"></span>
                                        <span class="fwb float-right">{{ run.registrations.length }}</span>
                                    </li>
<!--                                     <li>
                                        <span>Another</span>
                                        <span class="fwb float-right">0.0%</span>
                                    </li> -->
                                </ul>
                            </div>
                            <div class="size1of4 lastUnit alignr meta-actions below18">
                                <a class="button nomargin full-width relative" href="" button-loading="button-loading" register-run data-run-id="{{run.id}}" data-reg-id="{{run.registration_id}}">Join Run</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


<no-data title="There are currently no runs scheduled" desc="This seems a little odd, we'll look into it!" icon="thumbs-down" ng-show="noDataPane" ng-cloak></no-data>
