<!-- Header -->
<div class="lastUnit size1of1 header">
    <h1>{{ title }}</h1>
</div>
<!-- /Header -->

<div class="line main-section">
    <div class="sub-section">
        <div class="unit size3of4">
            <h2 class="capitalize">{{me.name}}</h2>
        </div>
        <div class="size1of4 lastUnit">
            <!-- <img class="rounded" src="http://placehold.it/200x200" alt=""> -->
        </div>
    </div>
    <div class="sub-section">
        <div class="unit size1of2">
            <ul class="leaders">
                <li>
                    <span>Member Since</span>
                    <span class="fwb">01/01/1999</span>
                </li>
                <li>
                    <span>Runs Completed</span>
                    <span class="fwb">12</span>
                </li>
            </ul>

        </div>
        <div class="size1of2 lastUnit">
            <h4>Subscribed Areas</h4>
            <ul class="drillnav">
                <li ng-repeat="area in me.areas"><a ng-href="/areas/{{area.area.id}}">{{area.area.location}}</a>
                </li>
            </ul>

        </div>
    </div>
</div>
