<!-- Header -->
<div class="lastUnit size1of1 header">
    <h1>Areas</h1>
</div>
<!-- /Header -->

<div class="line local-nav-container ng-scope">
    <div class="lastUnit size1of1 below36">
        <p class="mobile-top-nav nomargin full-width fwb"><a href="" toggle-parent="active">Navigation</a>
        </p>
        <ul class="local-nav local-tabs selfclear">
            <li><a href="">Active Areas</a>
            </li>
            <li><a href="">Proposed Areas</a>
            </li>
        </ul>
    </div>
</div>

<div class="lastUnit size1of1 main-section">

    <div ng-show="activeAreas">
        <div class="size2of3 unit nopadding">
            <h3>Active Areas</h3>
        </div>
        <div class="size1of3 lastUnit">
            <input type="search" placeholder="Search Areas" ng-model="query">
        </div>

        <ul class="media-list rows">
            <li ng-repeat="area in activeAreas | filter: query | orderBy: '!signed_up'">
                <div class="media">
                    <div class="media-image">
                        <div class="grayscale thumbnail below12">
                            <a href="/areas/{{area.id}}" title="View Details of {{area.location}}">
                                <!--  <img ng-src="{{area.photos[0].photo.thumbnail}}" alt="{{area.location}}" class=""> -->
                                <img src="http://placehold.it/500x500" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="media-body">
                        <div class="line">
                            <div class="unit size3of4 below12">
                                <h4><a href="/areas/{{area.id}}">{{area.location}}</a>
                                </h4>
                                <p class="below12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deseareat, est, dicta, aliquam nostrum vel velit ut reiciendis odit dolorum vero molestiae voluptatum sint unde tempora dignissimos pariatur vitae tenetur mollitia.
                                </p>
                                <p class="small-meta">
                                    Joined:
                                    <span ng-bind-html="area.signed_up | iconify"></span>
                                </p>
                            </div>
                            <div class="size1of4 lastUnit nopadding alignr">
                                <a class="button nomargin full-width-mobile relative" href="" register-area button-loading="button-loading" data-area-id="{{area.id}}">Join Area</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div ng-show="proposedAreas">
        <div class="size2of3 unit nopadding">
            <h3>Proposed Areas</h3>
        </div>
        <div class="size1of3 lastUnit">
            <input type="search" placeholder="Search Runs" ng-model="query">
        </div>

        <ul class="media-list rows">
            <li ng-repeat="area in activeAreas | filter: query">
                <div class="media">
                    <div class="media-image">
                        <div class="grayscale thumbnail below12">
                            <a href="/areas/{{area.id}}" title="View Details of {{area.location}}">
                                <img ng-src="{{area.photos[0].photo.thumbnail}}" alt="{{area.location}}" class="">
                            </a>
                        </div>
                    </div>
                    <div class="media-body">
                        <div class="line">
                            <div class="unit size3of4 below12">
                                <h4><a href="/areas/{{area.id}}">{{area.location}}</a>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deseareat, est, dicta, aliquam nostrum vel velit ut reiciendis odit dolorum vero molestiae voluptatum sint unde tempora dignissimos pariatur vitae tenetur mollitia.
                                </p>
                            </div>
                            <div class="size1of4 lastUnit nopadding alignr">
                                <a class="button nomargin full-width-mobile relative" href="" button-loading="button-loading" data-area-id="{{area.id}}">Join Area</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>
