<footer class="line main-section small-meta pad-lv2 mar-lv8 mar-lr0">
    <div class="sub-section">
        <div class="size3of4 unit">
            <ul class="linear-list small-meta vbars">
                <li>&copy; 2013
                </li>
                <li>A GoodGym and Weyo Collaboration
                </li>
            </ul>
        </div>
        <div class="size1of4 lastUnit">
            <ul class="linear-list small-meta vbars float-right">
                <li><a href="/policy">Privacy Policy</a>
                </li>
                <li><a href="/legal">Legal</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
