<!-- Header -->
<div class="lastUnit size1of1 header">
  <h1 class="inline-block">{{ title }}</h1>
  <a href="" class="add-btn button p0">Primary Action</a>
</div>
<!-- /Header -->

<div class="line main-section">
  <div class="size1of1 lastUnit">

  <ul class="media-list rows">
      <li>
        <div class="media">
          <div class="media-image">
            <div class=""></div>
          </div>
          <div class="media-body">
            <div class="line">
              <div class="unit size3of4 below12">
                <h4 class="">Create and send a campaign</h4>
                <p>Campaigns are emails sent to subscribers in a list. Try your hand at email design by creating and sending a test campaign. <a href="http://kb.mailchimp.com/article/whats-the-best-way-to-get-started-with-mailchimp?t=1385033357&amp;v=175&amp;enc=61624c325527f3d36c17c77a55b2474d5fb413522bbb6bb40baffbc3eabde66e#campaign" target="_blank">learn more</a>
                </p>
              </div>
              <div class="size1of4 lastUnit nopadding alignr"> <a class="button nomargin full-width-mobile" href="">Create a campaign</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media-image">
            <div class=""></div>
          </div>
          <div class="media-body">
            <div class="line">
              <div class="unit size3of4 below12">
                <h4 class="">Create a list</h4>
                <p>Lists are where you store your contacts (we call them subscribers). Create one master list, then use segments and groups to email select people. <a href="http://kb.mailchimp.com/article/whats-the-best-way-to-get-started-with-mailchimp?t=1385033357&amp;v=169&amp;enc=bb5da8476635689b6b24baa709e6d77e9567827ca7ea9feb11447a7af92b60b3#list" target="_blank">learn more</a>
                </p>
              </div>
              <div class="size1of4 lastUnit nopadding alignr"> <a class="button nomargin full-width-mobile" href="/lists/">Create a list</a>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <div id="progress-bar" class="below24">
      <ul>
        <li><a href="">Step x</a>
        </li>
        <li><a href="">Step x</a>
        </li>
        <li class="current"><a href="">Step x</a>
        </li>
        <li><a href="">Step x</a>
        </li>
        <li><a href="">Step x</a>
        </li>
        <li><a href="">Step x</a>
        </li>
      </ul>
    </div>

    <h2>Main Section 2</h2>
  </div>
  <div class="sub-section">
    <div class="size1of2 unit">
      <h4>2-column Sub-section</h4>
      <p>Like its master, it was entirely devoid of hair, but was of a dark slate color and exceeding smooth and glossy. Its belly was white, and its legs shaded from the slate of its shoulders and hips to a vivid yellow at the feet. The feet themselves were heavily padded and nailless, which fact had also contributed to the noiselessness of their approach, and, in common with a multiplicity of legs, is a characteristic feature of the fauna of Mars.</p>
    </div>
    <div class="size1of2 lastUnit">
      <h4>2-column Sub-section</h4>
      <p>Dispatching one of my men to Tars Tarkas for a detail of fifty Tharks, with word of my intentions, I ordered ten warriors to capture and open one of the great gates while with the nine remaining I took the other. We were to do our work quietly, no shots were to be fired and no general advance made until I had reached the palace with my fifty Tharks.</p>
    </div>
  </div>
  <div class="sub-section">
    <div class="size1of3 unit">
      <h4>3-column Sub-section</h4>
      <p>I have never told this story, nor shall mortal man see this manuscript until after I have passed over for eternity. I know that the average human mind will not believe what it cannot grasp, and so I do not purpose being pilloried by the public, the pulpit, and the press, and held up as a colossal liar when I am but telling the simple truths which some day science will substantiate.</p>
    </div>
    <div class="size1of3 unit">
      <h4>3-column Sub-section</h4>
      <p>My name is John Carter; I am better known as Captain Jack Carter of Virginia. At the close of the Civil War I found myself possessed of several hundred thousand dollars (Confederate) and a captain's commission in the cavalry arm of an army which no longer existed; the servant of a state which had vanished with the hopes of the South. Masterless, penniless, and with my only means of livelihood, fighting, gone, I determined to work my way to the southwest and attempt to retrieve my fallen fortunes in a search for gold.</p>
    </div>
    <div class="size1of3 lastUnit">
      <h4>3-column Sub-section</h4>
      <p>I spent nearly a year prospecting in company with another Confederate officer, Captain James K. Powell of Richmond. We were extremely fortunate, for late in the winter of 1865, after many hardships and privations, we located the most remarkable gold-bearing quartz vein that our wildest dreams had ever pictured.</p>
    </div>
  </div>
</div>

<div class="example">
  <div class="field-wrapper">
    <label class="radio">
      <input type="radio" data-dojo-type="dijit/form/RadioButton" class="av-radio">Yes, my campaigns are public, and I want them discovered
      <div class="radio-description">
        My email campaigns are meant to be seen by the public. The more the merrier, in fact. If/when MailChimp builds tools that help people discover me and sign up for this list, I'd like to take part in that.
      </div>
    </label>
  </div>
  <div class="field-wrapper">
    <label class="checkbox">
      <input type="checkbox" data-dojo-type="dijit/form/CheckBox" class="av-checkbox">Yes, my campaigns are public, and I want them discovered
      <div class="checkbox-description">
        My email campaigns are meant to be seen by the public. The more the merrier, in fact. If/when MailChimp builds tools that help people discover me and sign up for this list, I'd like to take part in that.
      </div>
    </label>
  </div>

</div>

<div class="example">
  <div class="feedback-block success section">
    <div class="lastUnit size1of1">
      <div class="media">
        <div class="media-image">
          <span class="ggicon icon-checkmark"></span>
        </div>
        <div class="media-body ">
          <h4>Account Status</h4>
          <p>All good!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="feedback-block warning section">
    <div class="lastUnit size1of1">
      <div class="media">
        <div class="media-image">
          <span class="ggicon icon-warning"></span>
        </div>
        <div class="media-body ">
          <h4>Account Status</h4>
          <p>You closed your account on Nov 29, 2013 07:00 pm</p>
        </div>
      </div>
    </div>
  </div>
  <div class="feedback-block error section">
    <div class="lastUnit size1of1">
      <div class="media">
        <div class="media-image">
          <span class="ggicon icon-new"></span>
        </div>
        <div class="media-body ">
          <h4>Account Status</h4>
          <p>Something terrible happened. <a href="#">Let's see if this fixes it.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="feedback-block info section">
    <div class="lastUnit size1of1">
      <div class="media">
        <div class="media-image">
          <span class="ggicon icon-light-bulb"></span>
        </div>
        <div class="media-body ">
          <h4>Account Status</h4>
          <p>FYI &ndash; you're awesome.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="line main-section">
  <div class="sub-section">
    <div class="lastUnit size1of1">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, dignissimos, eum, eos, aliquid quod ut fugiat nesciunt officiis sapiente autem molestiae facilis nihil maxime reiciendis possimus sit porro sunt impedit.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, obcaecati culpa incidunt animi officiis aspernatur mollitia ratione ullam reiciendis accusamus assumenda quo nostrum itaque! Suscipit, nemo quidem aliquid iste labore.</p>
      <ul class="disc p">
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
        <li>Vestibulum auctor dapibus neque.</li>
      </ul>

    </div>
  </div>
  <div class="sub-section">
    <div class="lastUnit size1of1">
      <h3>Title</h3>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
    </div>
  </div>
  <div class="example">
    <div class="size1of2 lastUnit">
      <ul class="leaders">
        <li>
          <span>List Avg</span>
          <span class="fwb">61.7%</span>
        </li>
        <li>
          <span>Industry Avg</span>
          <span class="fwb">61.7%</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="example">
    <div class="line">
      <ul class="linear-list vbars">
        <li>item uno</li>
        <li>item dos</li>
        <li>item tres</li>
      </ul>
    </div>
  </div>

  <div class="example">
    <div class="line">
      <ul class="linear-list spaces">
        <li>item uno</li>
        <li>item dos</li>
        <li>item tres</li>
      </ul>
    </div>
  </div>

  <div class="example">
    <div class="line">
      <ul class="media-list">
        <li>
          <div class="media some-other-class">
            <div class="media-image">
              <div style="font-size:58px;" class="ggicon icon-new"></div>
            </div>
            <div class="media-body">
              <h4>Title media object</h4>
              <p class="body">Some content</p>
            </div>
          </div>
        </li>
        <li>
          <div class="media some-other-class">
            <div class="media-image">
              <div style="font-size:58px;" class="ggicon icon-network"></div>
            </div>
            <div class="media-body">
              <h4>Title media object</h4>
              <p class="body">Some content</p>
            </div>
          </div>
        </li>
        <li>
          <div class="media some-other-class">
            <div class="media-image">
              <div style="font-size:58px;" class="ggicon icon-map"></div>
            </div>
            <div class="media-body">
              <h4>Title media object</h4>
              <p class="body">Some content</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="example">
    <ul class="media-list rows">
      <li>
        <div class="media">
          <div class="media-image">
            <div class="ggicon icon-chat success-fill"></div>
          </div>
          <div class="media-body">
            <div class="line">
              <div class="unit size3of4">
                <h3>Email Authentication</h3>
                <p>Automatic email authentication will be enabled for this message.</p>
              </div>
              <div class="lastUnit nopadding size1of4"> <a href="" class="step button">edit</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media-image">
            <div class="ggicon icon-folder success-fill"></div>
          </div>
          <div class="media-body">
            <div class="line">
              <div class="unit size3of4">
                <h3>Tracking</h3>
                <p>You chose to track clicks and opens in the HTML email.</p>
              </div>
              <div class="lastUnit nopadding size1of4"> <a href="" class="step button">edit</a>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>


  <div class="example">
    <ul class="relative activity-timeline">
      <li class="relative block pad-lv2 pad-lr0">
        <div class="relative inline-block blobs">
          <div class="blob date fwb">Apr 25</div>
          <div class="blob time fwb">15:40</div>
          <div class="blob activity-icon inline-block info">
            <div class="ggicon icon-checkmark"></div>
          </div>
        </div>
        <div class="activity-content relative inline-block">
          <h4 class="p full-width">Opened</h4>
          <p class="nomargin"><a href="">MailChimp UX</a> · <a href="">View Results</a>
          </p>
        </div>
      </li>
      <li class="relative block pad-lv2 pad-lr0">
        <div class="relative inline-block blobs">
          <div class="blob date fwb">May 22</div>
          <div class="blob time fwb">14:00</div>
          <div class="blob activity-icon inline-block success">
            <div class="ggicon icon-location"></div>
          </div>
        </div>
        <div class="activity-content relative inline-block">
          <h4 class="p full-width">Inbox Inspection</h4>
          <p class="nomargin"><a href="">Check your profile</a>
          </p>
        </div>
      </li>
      <li class="relative block pad-lv2 pad-lr0">
        <div class="relative inline-block blobs">
          <div class="blob date fwb">Sep 10</div>
          <div class="blob time fwb">3:15</div>
          <div class="blob activity-icon inline-block error">
            <div class="ggicon icon-rocket"></div>
          </div>
        </div>
        <div class="activity-content relative inline-block">
          <h4 class="p full-width">Unsubscribe</h4>
          <p class="nomargin"><a href="">MailChimp UX</a> · <a href="">View Results</a>
          </p>
        </div>
      </li>
    </ul>
  </div>

  <div class="example">
    <div class="section slats">
      <ul>
        <li class="relative selfclear">
          <div class="selfclear">
            <div class="meta unit size3of4">
              <div class="unit size1of2 nopadding">
                <div class="move-handle ggicon icon-list float-left"></div>
                <h4><a href="#">Mandrill Welcome Email Test</a>
                </h4>
                <p class="dim-el">Created Aug 07, 2013 04:00 pm</p>
                <p>
                  <span class="ggicon icon-star"></span>
                  <span class="ggicon icon-star"></span>
                  <span class="ggicon icon-star"></span>
                  <span class="ggicon icon-star"></span>
                  <span class="ggicon icon-star-grey"></span>
                </p>
              </div>
              <div class="lastUnit size1of2 nopadding stats-container hide-phone">
                <div class="data inline-block float-left">
                  <h4>6</h4>
                  <p class="dim-el">Subscribers</p>
                </div>
                <div class="data inline-block float-left">
                  <h4>0.0%</h4>
                  <p class="dim-el">Open Rate</p>
                </div>
                <div class="data inline-block float-left">
                  <h4>0.0%</h4>
                  <p class="dim-el">Click Rate</p>
                </div>
              </div>
              <div class="lastUnit size1of2 nopadding stats-container show-phone">
                <ul class="dotted-list nomargin">
                  <li>
                    <span>Subscribers</span>
                    <span class="fwb float-right">6</span>
                  </li>
                  <li>
                    <span>Open Rate</span>
                    <span class="fwb float-right">0.0%</span>
                  </li>
                  <li>
                    <span>Click Rate</span>
                    <span class="fwb float-right">0.0%</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="meta-actions lastUnit size1of4 alignr">
              <a title="Add Subscriber" class="button-small" href="#">
                <span class="ggicon icon-user add-sub mar-r0"></span>
              </a>

            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="example">
    <div class="section slats">
      <ul>
        <li class="relative selfclear">
          <div class="meta unit size3of4">
            <div class="unit size5of8 nopadding">

              <h4><a href="#">MailChimp UX Issue 9 - Patterns</a>
              </h4>
              <p>
                <span class="msg dim-el capitalize">regular ·</span>
                <span class="msg dim-el">Sent Jul 25, 2013 05:03 pm</span>
              </p>
            </div>
            <div class="lastUnit size3of8 nopadding stats-container hide-phone">
              <div class="data inline-block float-left">
                <h4>2,065</h4>
                <p class="dim-el">Subscribers</p>
              </div>
              <div class="data inline-block float-left">
                <div class="percentage-container">
                  <h4>55.8%</h4>
                  <p class="dim-el">
                    <span class="hide-mobile">Open Rate</span>
                    <span class="show-mobile">Opens</span>
                  </p>
                </div>
                <div class="number-container">
                  <h4>1,147</h4>
                  <p class="dim-el">
                    <span class="hide-mobile">Open Rate</span>
                    <span class="show-mobile">Opens</span>
                  </p>
                </div>
              </div>
              <div class="data inline-block float-left">
                <div class="percentage-container">
                  <h4>13.7%</h4>
                  <p class="dim-el">
                    <span class="hide-mobile">Click Rate</span>
                    <span class="show-mobile">Clicks</span>
                  </p>
                </div>
                <div class="number-container">
                  <h4>281</h4>
                  <p class="dim-el">
                    <span class="hide-mobile">Click Rate</span>
                    <span class="show-mobile">Clicks</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="lastUnit size3of8 nopadding stats-container show-phone">
              <ul class="dotted-list nomargin">
                <li>
                  <span>Subscribers</span>
                  <span class="fwb float-right">2,065</span>
                </li>
                <li>
                  <span>Open Rate</span>
                  <span class="fwb float-right">55.8%</span>
                </li>
                <li>
                  <span>Click Rate</span>
                  <span class="fwb float-right">13.7%</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="meta-actions lastUnit size1of4 alignr">
              <a title="Add Subscriber" class="button-small" href="#">
                <span class="ggicon icon-user add-sub mar-r0"></span>
              </a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="example">
    <div class="lastUnit size1of2">
      <p class="full-width selfclear nomargin alignr">
        <span class="h4 float-left">27 Opened</span>
        <span class="h2 nomargin"> <a href="" title="See who opened">73.0%</a>
        </span>
      </p>
      <div class="meter below24">
        <span style="width:73.0%"></span>
      </div>
    </div>
  </div>

  <div class="example">
    <div class="line">
      <div class="stat-block alignc unit size1of3">
        <h2 class="nomargin"><a href="" title="View">27</a>
        </h2>
        <p class="fwb">
          <span class="hide-phone">Opened</span>
          <span class="show-phone ggicon icon-picture nomargin"></span>
        </p>
      </div>
      <div class="stat-block alignc unit size1of3">
        <h2 class="nomargin"> <a href="" title="View">22</a>
        </h2>
        <p class="fwb">
          <span class="hide-phone">Clicked</span>
          <span class="show-phone ggicon icon-box nomargin"></span>
        </p>
      </div>
      <div class="stat-block alignc lastUnit size1of3 below48">
        <h2 class="nomargin">0</h2>
        <p class="fwb">
          <span class="hide-phone">Unsubscribed</span>
          <span class="show-phone ggicon icon-docs nomargin"></span>
        </p>
      </div>
    </div>
  </div>

  <div class="example">
    <div class="line">
      <div class="unit size1of2 stat-block no-border nopadding below24">
        <p>Total opens</p>
        <h4 class="below18"><a href="" title="View">74</a>
        </h4>
        <p>Forwarded</p>
        <h4>0</h4>
      </div>
      <div class="lastUnit size1of2 stat-block no-border nopadding">
        <p>Successful deliveries</p>
        <h4 class="below18">37
          <span class="dim-el fwn mar-lv2 mar-tb0">92.5%</span>
        </h4>
        <p>Forward opens</p>
        <h4>0</h4>
      </div>
    </div>
  </div>

  <div class="example">
    <div class="line">
      <select class="auto-width nomargin">
        <option value="">Select an option</option>
        <option value="1">option 1</option>
        <option value="2">option 2</option>
        <option value="3">option 3</option>
      </select>
    </div>
  </div>


  <div class="example">
    <div class="line">
      <div class="field-wrapper form-inline with-button">
        <input type="text" id="inputandbutton" placeholder="I'm an input" name="inputandbutton"> <a class="button-small p0" href="">I'm a button</a>
      </div>
    </div>
  </div>


  <div class="example">
    <div class="line">
      <fieldset>
        <legend>Personal Information</legend>
        <div class="field-wrapper">
          <label>First name</label>
          <input type="text" id="fname" name="fname">
          <div class="field-help">Don't forget to use your real name please.</div>
        </div>
      </fieldset>
    </div>
  </div>


  <table class="table scroll-small">
    <tbody>
      <tr class="odd">
        <th>Billed to</th>
        <td>Roger Sterling</td>
      </tr>
      <tr class="even">
        <th>Company</th>
        <td>Sterling, Cooper, Draper, Pryce.</td>
      </tr>
      <tr class="odd">
        <th>Phone</th>
        <td>1112223456</td>
      </tr>
      <tr class="even">
        <th>Email Address</th>
        <td>sterling@scdp.com</td>
      </tr>
      <tr class="odd">
        <th>Billing Address</th>
        <td>New York, NY</td>
      </tr>
      <tr class="even">
        <th>Paid With</th>
        <td>Visa card ending in 0000</td>
      </tr>
    </tbody>
  </table>

  <table class="table scroll-small">
    <thead>
      <tr class="odd">
        <th>Credit card number</th>
        <th>Credit card type</th>
        <th>Expiration</th>
      </tr>
    </thead>
    <tbody>
      <tr class="odd">
        <td>Card ending in 0000</td>
        <td>Amex</td>
        <td>11/2011</td>
      </tr>
      <tr class="even">
        <td colspan="3">For tables with less columns which don't require horizontal scrolling until 500px or less, use the
          <code class="classname">scroll-small</code>class along with the
          <code class="classname">mc-table</code>class.</td>
      </tr>
    </tbody>
  </table>

  <div class="example">
    <div class="line section">
      <div class="lastUnit size1of1">
        <div class="no-data alignc">
          <div class="ggicon icon-thumbs-down"></div>
          <h2>Looks like you’ve not been on a run yet!</h2>
          <p>No time like the present.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="example">
    <div id="av-flash-block">
      <ul id="av-flash-info" class="av-flash nomargin">
        <li>Info Message</li>
      </ul>
      <ul id="av-flash-errors" class="av-flash nomargin">
        <li>Error Message</li>
      </ul>
      <ul id="av-flash-success" class="av-flash nomargin">
        <li>Success Message</li>
      </ul>
    </div>
  </div>

</div>
