<div class="sliding-nav relative overflow-hidden navtoggle" ng-controller="NavCtrl">
    <div class="brand-icon navtoggle">
        <a href="/patterns/" class="block"></a>
    </div>
    <ul class="primary-nav nomargin navtoggle">
        <li ng-repeat="link in nav">
            <a href="#/{{link.slug | lowercase}}" title="{{ link.title }}" active-link="selected" responsive>
                <span class="nav-label">{{ link.title }}</span>
            </a>
        </li>
       
    </ul>
    <ul id="acl" class="acl-menu nomargin navtoggle">
        <li class="separator">My Account</li>
        <li class="top-links">
            <a href="/login/out" class="logout">
                <span class="nav-label">Log Out</span>
            </a>
        </li>
        <li class="separator alignc absolute copyright">© 2001–2013 MailChimp®</li>
    </ul>
    <div class="toggle-nav hide-mobile navtoggle">
        <div class="toggle-nav-btn pad-lv3 dim-el freddicon&gt;&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
"></div>
    </div>
</div>
