<div class="sliding-nav relative overflow-hidden" ng-controller="NavCtrl">
    <div class="brand-icon">
        <a href="/" class="block"></a>
    </div>
    <ul class="primary-nav nomargin">
        <li ng-repeat="link in nav">
            <a href="#/{{link.slug | lowercase}}" title="{{ link.title }}" active-link="selected" responsive>
               <span class="ggicon icon-{{ link.icon }}"></span> <span class="nav-label">{{ link.title }}</span>
            </a>
        </li>
    </ul>
</div>
