<div class="tablet-nav hide-desktop relative">
  <div class="line selfclear">
    <div class="menu-left float-left">
      <a href="#" class="menu-btn" responsive>
        <span class="ggicon icon-list2"></span>
      </a>
    </div>
    <div class="menu-right float-right alignr">
      <a href="#" class="account-btn no-delay">
        <div class="logged-in-avatar inline-block avatar" style="background-image: url(http://placekitten.com/100/100)"></div>
        <div class="account-name hide-phone udst">David</div>
      </a>
    </div>
  </div>
  <div class="acl-popover selfclear">
    <ul class="acl-mobile nomargin">
      <li class="separator h3 nomargin nopadding">My Account</li>
      <li><a href="">Account Settings</a>
      </li>
      <li><a href="" target="_blank">Support</a>
      </li>
      <li><a href="/login/out">Log Out</a>
      </li>
    </ul>
  </div>
</div>
