<!-- Header -->
<div class="lastUnit size1of1 header">
    <h1 class="inline-block">{{ title }}</h1>
    <a href="" class="add-btn button p0" ng-click="toggleCreate = !toggleCreate">
        <span class="ggicon icon-add-to-list"></span>Create a Run</a>
</div>
<!-- /Header -->
<div class="lastUnit size1of1 main-section" ng-show="toggleCreate">

    <div class="sub-section">
        <div class="size1of3 unit">
            <h4>Form Col 1</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, sequi ex dolores molestiae culpa aperiam nulla eum quos magnam repudiandae eius ipsa cupiditate totam possimus voluptatem similique suscipit perspiciatis. Tempora.</p>
        </div>
        <div class="size1of3 unit">
            <h4>Form Col 2</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, officiis laboriosam labore eaque neque quidem nostrum provident architecto mollitia dolorem hic saepe temporibus sed aut praesentium quis impedit blanditiis eveniet.</p>
        </div>
        <div class="size1of3 lastUnit">
            <h4>Form Col 3</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, doloremque, enim aperiam fuga quo possimus nostrum numquam quae. Eveniet odio ad mollitia ducimus autem! Quos, velit vitae eveniet quidem incidunt!</p>
        </div>
        <div class="size1of1 lastUnit">
            <a href="" class="button">Submit Form</a>
        </div>
    </div>
</div>

<div class="lastUnit size1of1 main-section" ng-show="runs">
    <div class="size2of3 unit nopadding">
        <h3>Upcoming Runs</h3>
    </div>
    <div class="size1of3 lastUnit">
        <input type="search" placeholder="Search Runs" ng-model="query">
    </div>

    <ul class="media-list rows">
        <li ng-repeat="run in runs | filter: query">
            <div class="media">
                <div class="media-image">
                    <div class="grayscale thumbnail below12">
                        <a href="/runs/{{run.id}}" title="View Details of {{run.name}}">
                            <img ng-src="{{run.photos[0].photo.thumbnail}}" alt="{{run.name}}" class="">
                        </a>
                    </div>
                </div>
                <div class="media-body">
                    <div class="line">
                        <div class="unit size3of4 below12">
                            <h4><a href="/runs/{{run.id}}">{{run.name}}</a>
                            </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, est, dicta, aliquam nostrum vel velit ut reiciendis odit dolorum vero molestiae voluptatum sint unde tempora dignissimos pariatur vitae tenetur mollitia.
                            </p>
                            <p>
                                Attending:
                                <span ng-bind-html="run.signed_up | iconify"></span>
                            </p>
                        </div>
                        <div class="size1of4 lastUnit nopadding alignr">
                            <a class="button nomargin full-width-mobile relative" href="" button-loading="button-loading" button-register data-run-id="{{run.id}}" data-reg-id="{{run.registration_id}}">Join Run</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<no-data title="There are currently no runs scheduled" desc="This seems a little odd, we'll look into it!" icon="thumbs-down" ng-show="noData"></no-data>
