<div class="content">
	<h2 class="content-subhead">{{ title }}</h2>
	<h3>Runs this week</h3>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi neque suscipit nam excepturi eligendi. Repellat, saepe, soluta, illum vero quam ab dolore quibusdam assumenda doloribus voluptates odio quis autem animi. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	</p>

	<form class="pure-form">
		<input type="text" class="pure-input-rounded">
	</form>

	<table class="pure-table pure-table-striped">
		<thead>
			<tr>
				<th>Col</th>
				<th>header</th>
				<th>header</th>
				<th>header</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Data</td>
				<td>Data</td>
				<td>Data</td>
				<td>Data</td>
			</tr>
			<tr>
				<td>Data</td>
				<td>Data</td>
				<td>Data</td>
				<td>Data</td>
			</tr>
			<tr>
				<td>Data</td>
				<td>Data</td>
				<td>Data</td>
				<td>Data</td>
			</tr>
			<tr>
				<td>Data</td>
				<td>Data</td>
				<td>Data</td>
				<td>Data</td>
			</tr>
			<tr>
				<td>Data</td>
				<td>Data</td>
				<td>Data</td>
				<td>Data</td>
			</tr>
			<tr>
				<td>Data</td>
				<td>Data</td>
				<td>Data</td>
				<td>Data</td>
			</tr>
			<tr>
				<td>Data</td>
				<td>Data</td>
				<td>Data</td>
				<td>Data</td>
			</tr>
			<tr>
				<td>Data</td>
				<td>Data</td>
				<td>Data</td>
				<td>Data</td>
			</tr>
			<tr>
				<td>Data</td>
				<td>Data</td>
				<td>Data</td>
				<td>Data</td>
			</tr>
		</tbody>
	</table>
</div>