/* ===================================
 *
 * Colour Helpers
 * 
 * ================================= */

.bg-r2 {
    background-color: #ee836e;
}

.bg-r3, .bg-r4 {
    background-color: $ggRedPrimary;
}

.bg-y1 {
    background-color: #ffe8aa;
}

.bg-y2 {
    background-color: #fede88;
}

.bg-y3 {
    background-color: #fed156;
}

.bg-y4 {
    background-color: #febe12;
}

.bg-g1 {
    background-color: #c5e5de;
}

.bg-g2 {
    background-color: #95d1c4;
}

.bg-g3 {
    background-color: #72c1b0;
}

.bg-g4 {
    background-color: #449a88;
}

.bg-b1 {
    background-color: #b1e0ec;
}

.bg-b2 {
    background-color: #6dc5dc;
}

.bg-b3 {
    background-color: $ggRedPrimary;
}

.bg-b4 {
    background-color: #ae1313;
}

.bg-k1 {
    background-color: #c9c9c9;
}

.bg-k2 {
    background-color: #9e9e9e;
}

.bg-k3 {
    background-color: #666;
}

.bg-k4, .bg-dark {
    background-color: #393939;
}

.bg-gray {
    background-color: #eee;
}

.bg-light {
    background-color: #f2f2f2;
}

.bg-white {
    background-color: #fff;
}