/* ===================================
 *
 * Forms
 *
 * ================================= */

legend {
    display: block;
    width: 100%;
    margin: 0 0 0.69231em 0;
    font-size: 1.125em;
    line-height: 1.3846153846153846em;
    font-weight: 500;
    color: #484848;
    letter-spacing: .01em;
    font-family: $ggFontFamilyPrimary;
    small {
        font-size: .8125em;
        line-height: 1.3846153846153846em;
    }
}

label, input, select, textarea {
    font-family: $ggFontFamilyPrimary;
    font-size: 15px;
    line-height: 18px;
    font-weight: normal;
}

label {
    color: $ggPrimaryText;
    font-weight: 500;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-bottom: .4em;
    max-width: 550px;
    &.dark {
        color: #666;
    }
    &.required:after {
        content: "required";
        float: right;
        color: #9e9e9e;
        font-size: .8666666666666667em;
    }
    * {
        line-height: inherit;
    }
}

.cb-inline {
    padding: 12px 0 0 0;
}

textarea {
    height: auto;
    line-height: 1.6em;
}

input {
    -webkit-appearance: none;
    &[type="search"] {
        &::-webkit-search-cancel-button, &::-webkit-search-decoration {
            -webkit-appearance: none;
        }
    }
    &[type=number] {
        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
        opacity: 1;
    }
    &[type="file"] {
        cursor: pointer;
        &::-webkit-file-upload-button {
            cursor: pointer;
        }
    }
}

select, textarea {
    display: inline-block;
    padding: 0 0.4em 0 0.4em;
    margin-bottom: 2em;
    vertical-align: middle;
    border-radius: 3px;
    min-width: 50px;
    max-width: 550px;
}

input {
    &[type="text"], &[type="password"], &[type="file"], &[type="datetime"], &[type="datetime-local"], &[type="date"], &[type="month"], &[type="time"], &[type="week"], &[type="number"], &[type="email"], &[type="url"], &[type="search"], &[type="tel"], &[type="color"] {
        display: inline-block;
        padding: 0 0.4em 0 0.4em;
        margin-bottom: 2em;
        vertical-align: middle;
        border-radius: 3px;
        min-width: 50px;
        max-width: 550px;
    }
}

.uneditable-input, .faux-file {
    display: inline-block;
    padding: 0 0.4em 0 0.4em;
    margin-bottom: 2em;
    vertical-align: middle;
    border-radius: 3px;
    min-width: 50px;
    max-width: 550px;
}

textarea {
    width: 100%;
    min-height: 36px;
    background-color: $blank;
    border: 2px solid #c8c8c8;
    margin: 0 0 24px 0;
}

input {
    &[type="text"], &[type="password"], &[type="file"], &[type="datetime"], &[type="datetime-local"], &[type="date"], &[type="month"], &[type="time"], &[type="week"], &[type="number"], &[type="email"], &[type="url"], &[type="search"], &[type="tel"], &[type="color"] {
        width: 100%;
        min-height: 36px;
        background-color: $blank;
        border: 2px solid #c8c8c8;
        margin: 0 0 24px 0;
    }
}

.uneditable-input, .faux-file {
    width: 100%;
    min-height: 36px;
    background-color: $blank;
    border: 2px solid #c8c8c8;
    margin: 0 0 24px 0;
}

textarea:hover {
    border-color: #a6a6a6;
    border-width: 2px;
}

input {
    &[type="text"]:hover, &[type="password"]:hover, &[type="file"]:hover, &[type="datetime"]:hover, &[type="datetime-local"]:hover, &[type="date"]:hover, &[type="month"]:hover, &[type="time"]:hover, &[type="week"]:hover, &[type="number"]:hover, &[type="email"]:hover, &[type="url"]:hover, &[type="search"]:hover, &[type="tel"]:hover, &[type="color"]:hover {
        border-color: #a6a6a6;
        border-width: 2px;
    }
}

.uneditable-input:hover, .faux-file:hover {
    border-color: #a6a6a6;
    border-width: 2px;
}

textarea:focus {
    border: 2px solid #999;
    outline: none;
}

input {
    &[type="text"]:focus, &[type="password"]:focus, &[type="file"]:focus, &[type="datetime"]:focus, &[type="datetime-local"]:focus, &[type="date"]:focus, &[type="month"]:focus, &[type="time"]:focus, &[type="week"]:focus, &[type="number"]:focus, &[type="email"]:focus, &[type="url"]:focus, &[type="search"]:focus, &[type="tel"]:focus, &[type="color"]:focus {
        border: 2px solid #999;
        outline: none;
    }
}

.uneditable-input:focus, .faux-file:focus {
    border: 2px solid #999;
    outline: none;
}

textarea.invalid {
    border: 2px solid $ggPrimaryColour;
}

input {
    &[type="text"].invalid, &[type="password"].invalid, &[type="file"].invalid, &[type="datetime"].invalid, &[type="datetime-local"].invalid, &[type="date"].invalid, &[type="month"].invalid, &[type="time"].invalid, &[type="week"].invalid, &[type="number"].invalid, &[type="email"].invalid, &[type="url"].invalid, &[type="search"].invalid, &[type="tel"].invalid, &[type="color"].invalid {
        border: 2px solid $ggPrimaryColour;
    }
}

.uneditable-input.invalid, .faux-file.invalid {
    border: 2px solid $ggPrimaryColour;
}

input.inline-with-text {
    margin: 0 0 6px 0;
}

textarea {
    padding: 6px 0 0 6px;
    &.code {
        font-family: $ggFontFamilyMono;
        font-size: 15px;
    }
}

input {
    &[type="radio"], &[type="checkbox"] {
        margin: 0.4em 0 0 0;
        margin-top: 1px \9;
        *margin-top: 0;
        line-height: normal;
        cursor: pointer;
    }
}

.radio, .checkbox {
    max-width: 550px;
    margin-bottom: 18px;
    padding-bottom: 0;
}

input {
    &[type="file"], &[type="image"], &[type="submit"], &[type="reset"], &[type="button"] {
        width: auto;
    }
}

select:focus {
    outline: thin dotted #333333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

input {
    &[type="radio"]:focus, &[type="checkbox"]:focus {
        outline: thin dotted #333333;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
}

.uneditable-input, .uneditable-textarea {
    color: #9e9e9e;
    cursor: not-allowed;
    background-color: #eee;
    border-color: #ddd;
}

.uneditable-input {
    overflow: hidden;
    white-space: nowrap;
}

.uneditable-textarea {
    width: auto;
    height: auto;
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    cursor: not-allowed;
    background-color: #eee;
}

input[disabled], textarea[disabled] {
    border: 2px solid #d9d9d9;
}

input {
    &[type="radio"][disabled], &[type="checkbox"][disabled], &[type="radio"][readonly], &[type="checkbox"][readonly] {
        background-color: transparent;
    }
}

.faux-file-field {
    position: relative;
    cursor: pointer;
    margin-bottom: 1.6em;
    .faux-file {
        width: 190px;
        cursor: inherit;
        margin: 0;
        button {
            position: absolute;
            left: 200px;
            top: -3px;
            cursor: inherit;
        }
        input[type="file"] {
            height: 36px;
            margin: 0;
            opacity: 0;
            z-index: 2;
            position: absolute;
            top: 0;
            left: 0;
            cursor: inherit;
        }
    }
    .faux-selected {
        font-size: .9375em;
        font-weight: 400;
        width: 184px;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 6px;
        padding: 0 0.375em 0 0.375em;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &.full-width {
        padding-right: 7em;
        .faux-file {
            width: 100%;
            button {
                left: auto;
                right: 0;
                margin-right: 0;
                width: 6.75em;
            }
            input[type="file"] {
                width: 100%;
            }
        }
        .faux-selected {
            width: auto;
            right: 7.25em;
        }
    }
}

.form-inline {
    input, textarea, select, .help-inline, .uneditable-input, .input-prepend, .input-append {
        display: inline-block;
        *display: inline;
        *zoom: 1;
    }
    button, .button, .button-small {
        margin-bottom: 24px;
    }
    label {
        display: inline-block;
        margin-right: .4em;
    }
    .radio, .checkbox {
        padding-left: 0;
        margin-bottom: 0;
    }
    input, textarea, select, .radio input[type="radio"], .checkbox input[type="checkbox"] {
        margin-right: .4em;
        margin-left: 0;
    }
    &.with-button {
        input {
            &[type="text"], &[type="search"] {
                margin: 0;
                border-radius: 3px 0 0 3px;
                width: 57%;
                min-width: 80px;
            }
            &[type="text"] ~ .field-help, &[type="search"] ~ .field-help, &[type="text"] ~ .invalid-error, &[type="search"] ~ .invalid-error {
                display: block;
                top: 6px;
                margin-bottom: 0;
            }
        }
        .button-small {
            margin: 0 0 0 -4px;
            border-radius: 0 3px 3px 0;
            padding: 0 18px;
        }
        .ggicon {
            font-size: 24px;
            margin-top: -2px;
            display: block;
        }
    }
}

.inline-label {
    display: inline-block;
    margin-right: .4em;
}


@media only screen and (max-width: 31.25em) {
    .form-inline.with-button input {
        &[type="text"], &[type="search"] {
            display: block;
            margin-bottom: 12px;
            border-radius: 3px;
            width: 100%;
        }
        &[type="text"].icon, &[type="search"].icon {
            border-radius: 3px 0 0 3px;
            width: 70%;
            display: inline-block;
            margin: 0;
        }
    }
}

@media only screen and (max-width: 31.25em) {
    .form-inline.with-button .button-small {
        display: block;
        border-radius: 3px;
        margin: 0;
        width: 100%;
        &.icon {
            width: auto;
            display: inline-block;
            margin: 0 0 0 -4px;
            border-radius: 0 3px 3px 0;
        }
    }
}

.form-c input.size1of5 {
    min-width: 1%;
}

.field-help {
    white-space: normal;
    width: 100%;
    max-width: 550px;
    word-wrap: break-word;
    font-size: .8125em;
    line-height: 1.3846153846153846em;
    font-weight: 700;
    position: relative;
    color: #737373;
    letter-spacing: .01em;
}

.invalid-error {
    white-space: normal;
    width: 100%;
    max-width: 550px;
    word-wrap: break-word;
    font-size: .8125em;
    line-height: 1.3846153846153846em;
    font-weight: 700;
    position: relative;
    color: #737373;
    letter-spacing: .01em;
    display: block;
    color: $ggPrimaryColour;
    max-height: 200px;
}

.edit-profile .invalid-error {
    margin-top: -18px;
    margin-bottom: 24px;
}

.field-wrapper {
    margin: 0;
    clear: both;
    position: relative;
    overflow: visible;
    input {
        &[type="text"], &[type="number"], &[type="email"], &[type="url"], &[type="tel"], &[type="password"] {
            width: 100%;
            max-width: 550px;
            position: relative;
            margin: 0 0 24px 0;
        }
    }
    textarea, .dijitSelect {
        width: 100%;
        max-width: 550px;
        position: relative;
        margin: 0 0 24px 0;
    }
    input {
        &[type="text"] ~ .field-help, &[type="number"] ~ .field-help, &[type="email"] ~ .field-help, &[type="url"] ~ .field-help, &[type="tel"] ~ .field-help, &[type="password"] ~ .field-help {
            -webkit-transition: all 0.25s ease-in-out 0;
            -moz-transition: all 0.25s ease-in-out 0;
            -o-transition: all 0.25s ease-in-out 0;
            -ms-transition: all 0.25s ease-in-out 0;
            transition: all 0.25s ease-in-out 0;
            display: block;
            opacity: 0;
            max-height: 0;
            top: -1.1538461538461537em;
            overflow: hidden;
        }
    }
    textarea ~ .field-help, .dijitSelect ~ .field-help {
        -webkit-transition: all 0.25s ease-in-out 0;
        -moz-transition: all 0.25s ease-in-out 0;
        -o-transition: all 0.25s ease-in-out 0;
        -ms-transition: all 0.25s ease-in-out 0;
        transition: all 0.25s ease-in-out 0;
        display: block;
        opacity: 0;
        max-height: 0;
        top: -1.1538461538461537em;
        overflow: hidden;
    }
    input {
        &[type="text"] ~ .field-help.always-show, &[type="number"] ~ .field-help.always-show, &[type="email"] ~ .field-help.always-show, &[type="url"] ~ .field-help.always-show, &[type="tel"] ~ .field-help.always-show, &[type="password"] ~ .field-help.always-show {
            opacity: 1;
            max-height: 200px;
            -webkit-transition: none;
            -moz-transition: none;
            -o-transition: none;
            -ms-transition: none;
            transition: none;
        }
    }
    textarea ~ .field-help.always-show, .dijitSelect ~ .field-help.always-show {
        opacity: 1;
        max-height: 200px;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none;
        transition: none;
    }
    input {
        &[type="text"]:focus ~ .field-help, &[type="number"]:focus ~ .field-help, &[type="email"]:focus ~ .field-help, &[type="url"]:focus ~ .field-help, &[type="tel"]:focus ~ .field-help, &[type="password"]:focus ~ .field-help {
            opacity: 1;
            max-height: 200px;
        }
    }
    textarea:focus ~ .field-help, .dijitSelect:focus ~ .field-help {
        opacity: 1;
        max-height: 200px;
    }
    input {
        &[type="text"]:active ~ .field-help, &[type="number"]:active ~ .field-help, &[type="email"]:active ~ .field-help, &[type="url"]:active ~ .field-help, &[type="tel"]:active ~ .field-help, &[type="password"]:active ~ .field-help {
            opacity: 1;
            max-height: 200px;
        }
    }
    textarea:active ~ .field-help, .dijitSelect:active ~ .field-help {
        opacity: 1;
        max-height: 200px;
    }
    .invalid-error {
        top: -1.1538461538461537em;
        max-height: 200px;
    }
}

.field-tip {
    position: absolute;
    &.block {
        display: block;
        margin: -0.92308em 0 0 0;
        position: static;
    }
}

.checkbox-group {
    margin-bottom: 1.5em;
    max-width: 550px;
    label {
        padding-top: 3px;
        padding-bottom: 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &.inline {
        .av-checkbox {
            margin-right: 3px;
        }
        label {
            padding-left: 0;
            padding-top: 0;
            float: left;
            padding-right: 1.2em;
            margin-right: .4em;
        }
    }
}

@media only screen and (max-width: 800px) {
    .checkbox-group.inline label {
        padding-right: 0;
    }
}

table .checkbox-group {
    margin-bottom: 0;
}

.label-description, .radio-description, .checkbox-description {
    display: block;
    margin-top: 0;
    margin-left: 2.4em;
    color: $ggPrimaryText;
    font-weight: normal;
}

.label-description p, .radio-description p, .checkbox-description p, .label-description ul, .radio-description ul, .checkbox-description ul {
    font-size: 1em;
    line-height: 1.6em;
}

@media screen and (max-width: 40em) {
    .search {
        margin-bottom: 24px;
    }
}

.search {
    &.size1of2 {
        max-width: 100%;
    }
    input[type="search"] {
        background-color: transparent;
        color: #959595;
        font-weight: 500;
        border-radius: 0;
        vertical-align: baseline;
        border: 0 none;
        border-bottom: 1px solid #b7b7b7;
        padding: 0 24px 0 0;
        font-size: 18px;
        max-width: 100%;
        &:hover {
            border-bottom: 1px solid #737373;
            color: #737373;
            &::-webkit-input-placeholder, &:-ms-input-placeholder, + a {
                color: #737373;
            }
        }
        &:focus {
            border-bottom: 1px solid #737373;
            color: #737373;
            &::-webkit-input-placeholder, &:-ms-input-placeholder, + a {
                color: #737373;
            }
        }
        + a {
            right: 2px;
            top: 0;
            color: #959595;
            font-size: 21px;
            padding: 6px 0 6px 12px;
        }
    }
}

table {
    .checkbox-group.inline label {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    input[type="text"] {
        margin-bottom: 0;
    }
}

.radio-group {
    margin-bottom: 18px;
    label {
        padding-bottom: 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .heading-label {
        font-weight: bold;
        font-size: 1.125em;
        margin: 0;
    }
    &.inline label {
        padding-left: 0;
        padding-top: 0;
        float: left;
        padding-right: 1.2em;
        margin-right: .4em;
    }
}

.area-code input, .phone-prefix input {
    vertical-align: bottom;
}

.area-code {
    &:before {
        content: "\28";
    }
    &:after {
        content: "\29";
    }
}

.phone-prefix:after {
    content: "\2008\2013";
}

select {
    -webkit-appearance: none;
    position: relative;
    height: 36px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .01em;
    color: #737373;
    background-color: #e0e0e0;
    border-collapse: separate;
    background-image: url(/images/forms/select-arrows-1x.png);
    background-repeat: no-repeat;
    background-position: right center;
    height: 48px;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 39px 0 18px;
    width: 100%;
    max-width: 550px;
    optgroup {
        background: $blank;
        font-style: normal;
        padding: 5px 8px;
        font-family: $ggFontFamilyPrimary;
        option {
            padding: 3px;
        }
    }
    &:hover, &:focus, &:active {
        background-color: #d8d8d8;
        color: #616161;
        outline: none;
    }
    &.valign-middle {
        margin-bottom: .375em;
    }
    &.select-small {
        height: 36px;
        font-size: 13px;
        &.valign-middle {
            margin-bottom: .1875em;
        }
    }
    &[multiple], &[size] {
        padding: 0;
        height: auto;
        background-image: none;
        background-color: $blank;
        border: 1px solid #c8c8c8;
    }
    &[multiple] > option, &[size] > option {
        padding: 12px 18px;
    }
    > option {
        padding: 3px 8px;
        cursor: pointer;
        background-color: $blank;
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {
    select {
        background-image: url(/images/forms/select-arrows-2x.png);
        background-size: 27px 11px;
    }
}

@-moz-document url-prefix() {
    select {
        padding: 10px 8px 8px;
        background-image: none;
    }
}
