/* --------------------------
 * Responsive Styles
 * -------------------------- */

@media (max-width: 870px) {
  /* Navigation Push Styles */
  #layout {
    position: relative;
    padding-left: 0;
    &.active {
      position: relative;
      left: $navColWidth;
      #menu {
        left: $navColWidth;
        width: $navColWidth;
      }
    }
  }
  #menu {
    left: 0;
  }
  .pure-menu-link {
    position: fixed;
    left: 0;
    display: block;
  }
  #layout.active .pure-menu-link {
    left: $navColWidth;
  }
}

@media (max-width: 767px) {
  .header, .content {
    font-size: 87.5%;
  }
  .header, .content, .legal {
    padding-left: 1.1429em;
    padding-right: 1.1429em;
  }
  .legal-license, .legal-copyright {
    text-align: center;
  }
  .legal-links {
    text-align: center;
    li {
      text-align: center;
    }
  }
  /* normalize paddings on small screens */
  .l-hbox {
    padding: 1.3em;
  }
}