/* ===================================
 *
 * Stat Block
 *
 *  <div class="example">
 *    <div class="section slats">
 *      <ul>
 *        <li class="relative selfclear">
 *          <div class="meta unit size3of4">
 *            <div class="unit size5of8 nopadding">
 *              <h4><a href="#">MailChimp UX Issue 9 - Patterns</a>
 *              </h4>
 *              <p>
 *                <span class="msg dim-el capitalize">regular ·</span>
 *                <span class="msg dim-el">Sent Jul 25, 2013 05:03 pm</span>
 *              </p>
 *            </div>
 *            <div class="lastUnit size3of8 nopadding stats-container hide-phone">
 *              <div class="data inline-block float-left">
 *                <h4>2,065</h4>
 *                <p class="dim-el">Subscribers</p>
 *              </div>
 *              <div class="data inline-block float-left">
 *                <div class="percentage-container">
 *                  <h4>55.8%</h4>
 *                  <p class="dim-el">
 *                    <span class="hide-mobile">Open Rate</span>
 *                    <span class="show-mobile">Opens</span>
 *                  </p>
 *                </div>
 *                <div class="number-container">
 *                  <h4>1,147</h4>
 *                  <p class="dim-el">
 *                    <span class="hide-mobile">Open Rate</span>
 *                    <span class="show-mobile">Opens</span>
 *                  </p>
 *                </div>
 *              </div>
 *              <div class="data inline-block float-left">
 *                <div class="percentage-container">
 *                  <h4>13.7%</h4>
 *                  <p class="dim-el">
 *                    <span class="hide-mobile">Click Rate</span>
 *                    <span class="show-mobile">Clicks</span>
 *                  </p>
 *                </div>
 *                <div class="number-container">
 *                  <h4>281</h4>
 *                  <p class="dim-el">
 *                    <span class="hide-mobile">Click Rate</span>
 *                    <span class="show-mobile">Clicks</span>
 *                  </p>
 *                </div>
 *              </div>
 *            </div>
 *            <div class="lastUnit size3of8 nopadding stats-container show-phone">
 *              <ul class="dotted-list nomargin">
 *                <li>
 *                  <span>Subscribers</span>
 *                  <span class="fwb float-right">2,065</span>
 *                </li>
 *                <li>
 *                  <span>Open Rate</span>
 *                  <span class="fwb float-right">55.8%</span>
 *                </li>
 *                <li>
 *                  <span>Click Rate</span>
 *                  <span class="fwb float-right">13.7%</span>
 *                </li>
 *              </ul>
 *            </div>
 *          </div>
 *          <div class="meta-actions lastUnit size1of4 alignr">
 *              <a title="Add Subscriber" class="button-small" href="#">
 *                <span class="ggicon icon-user add-sub mar-r0"></span>
 *              </a>
 *          </div>
 *        </li>
 *      </ul>
 *    </div>
 *  </div>
 *
 * ================================= */


.action-bar {
    .button, .button-small {
        margin: 0 15px 0 0;
    }
    .filter-btn, .folders-btn {
        display: inline-block;
    }
    .filter-status {
        background: $ggColourInfo;
        a {
            color: $ggPrimaryText;
        }
    }
}


.slats {
    &.notopborder > ul > li:first-child {
        border-top: none;
    }
    > ul {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        padding: 0 15px;
        > li {
            border-bottom: 1px solid #e0e0e0;
            padding: 11px 0;
            &:first-child {
                border-top: 1px solid #e0e0e0;
            }
        }
    }
    form {
        padding-left: 54px;
        label {
            line-height: 1.6em;
        }
        .button {
            margin-right: 11px;
        }
        .feedback-block {
            padding: 15px;
        }
        > * {
            font-size: inherit;
            line-height: 1.6em;
        }
    }
    .form-wrapper {
        padding: 0;
        h2 {
            padding-left: 54px;
        }
    }
    // .move-handle {
    //     width: 0;
    //     opacity: 0;
    //     visibility: hidden;
    //     color: #959595;
    //     -webkit-transition: all 0.2s cubic-bezier(0.7, 0, 0.175, 1) 0s;
    //     -moz-transition: all 0.2s cubic-bezier(0.7, 0, 0.175, 1) 0s;
    //     -o-transition: all 0.2s cubic-bezier(0.7, 0, 0.175, 1) 0s;
    //     -ms-transition: all 0.2s cubic-bezier(0.7, 0, 0.175, 1) 0s;
    //     transition: all 0.2s cubic-bezier(0.7, 0, 0.175, 1) 0s;
    //     margin-top: 5px;
    // }
    // .drag-mode {
    //     .move-handle {
    //         opacity: 1;
    //         visibility: visible;
    //         cursor: move;
    //         width: 42px;
    //         + .dijitCheckBox {
    //             margin-right: 18px;
    //         }
    //     }
    //     .list-meta-container {
    //         p, h4 {
    //             padding-left: 96px;
    //         }
    //     }
    // }
}

.meta {
    padding:0;
    .size1of2:first-child{max-width:100%}
    .ggicon {
        color:#959595;font-size:20px;
        &.star:before,
        &.graystar:before {
            margin-right:-5px
        }
    }
    h4 {
        font-size:1.2em;line-height:1.6666666666666667em;margin:0
    }
    p {
        margin:0;font-size:1em;line-height:1.6em
    }
    .member-rating {
        margin-top: 0;
    }
}

.dotted-list {
    margin-bottom:.8em;
    > li {
        line-height:1.6em;
        padding:.8em 0 .7333333333333333em 0;
        border-bottom:1px dotted #d9d9d9;
        > div {
            padding: 0;
            > a {
                display: block;
            }
        }
    }
}

.topborder>li:first-child {
    border-top:1px dotted #d9d9d9;
}

.thick {
    margin-bottom:1.6em;
    > li {
        padding:1.2em 0 1.1333333333333333em 0;
    }
}

.slim>li {
    padding:.4em 0 .3333333333333333em 0;
}


@media screen and (max-width: 40em) {
    .meta {
        p+p {
            margin-top: 6px;
        }
        h4, p {
            padding-left: 0;
        }
        .member-rating {
            margin-right: 12px;
            .ggicon {
                font-size: 15px;
                vertical-align: baseline;
            }
        }
    }
    .slats {
        .form-wrapper h2 {
            padding-left: 0;
        }
        form {
            padding-left: 0;
        }
    }
}

@media screen and (max-width:60em){
    .meta {
        width:100%;
        float:none
    }
}

