/* --------------------------
 * Varibles
 * -------------------------- */
 
/* Colours */
$ggRed: #ae1313;


/* Layout */
$navColWidth: 200px;

/* Type */
$ggDefaultFontStack: "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;